body {
    margin: 0;
    background: #020202;
    cursor: crosshair;
}
canvas{display:block}

/* Apply these styles when the viewport is 600px or less */
@media screen and (max-width: 600px) {
    h1 {
      font-size: 2em;
    }
    p {
      font-size: 1.2em;
    }
  }
  
  /* Apply these styles when the viewport is between 601px and 900px */
  @media screen and (min-width: 601px) and (max-width: 900px) {
    h1 {
      font-size: 3.5em;
    }
    p {
      font-size: 2em;
    }
  }
  
  /* Apply these styles when the viewport is larger than 900px */
  @media screen and (min-width: 901px) {
    h1 {
      font-size: 5em;
    }
    p {
      font-size: 3em;
    }
  }

h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Source Sans Pro";
    font-size: 5em;
    font-weight: 900;
    -webkit-user-select: none;
    user-select: none;
}
p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Source Sans Pro";
    font-size: 3em;
    font-weight: 600;
    -webkit-user-select: none;
    user-select: none;
}